export(acc)
export(calcDrugFPSim)
export(calcDrugMCSSim)
export(calcParProtGOSim)
export(calcParProtSeqSim)
export(calcTwoProtGOSim)
export(calcTwoProtSeqSim)
export(checkProt)
export(convMolFormat)
export(extractDrugAIO)
export(extractDrugALOGP)
export(extractDrugAminoAcidCount)
export(extractDrugApol)
export(extractDrugAromaticAtomsCount)
export(extractDrugAromaticBondsCount)
export(extractDrugAtomCount)
export(extractDrugAutocorrelationCharge)
export(extractDrugAutocorrelationMass)
export(extractDrugAutocorrelationPolarizability)
export(extractDrugBCUT)
export(extractDrugBPol)
export(extractDrugBondCount)
export(extractDrugCPSA)
export(extractDrugCarbonTypes)
export(extractDrugChiChain)
export(extractDrugChiCluster)
export(extractDrugChiPath)
export(extractDrugChiPathCluster)
export(extractDrugDescOB)
export(extractDrugECI)
export(extractDrugEstate)
export(extractDrugEstateComplete)
export(extractDrugExtended)
export(extractDrugExtendedComplete)
export(extractDrugFMF)
export(extractDrugFragmentComplexity)
export(extractDrugGraph)
export(extractDrugGraphComplete)
export(extractDrugGravitationalIndex)
export(extractDrugHBondAcceptorCount)
export(extractDrugHBondDonorCount)
export(extractDrugHybridization)
export(extractDrugHybridizationComplete)
export(extractDrugHybridizationRatio)
export(extractDrugIPMolecularLearning)
export(extractDrugKR)
export(extractDrugKRComplete)
export(extractDrugKappaShapeIndices)
export(extractDrugKierHallSmarts)
export(extractDrugLargestChain)
export(extractDrugLargestPiSystem)
export(extractDrugLengthOverBreadth)
export(extractDrugLongestAliphaticChain)
export(extractDrugMACCS)
export(extractDrugMACCSComplete)
export(extractDrugMDE)
export(extractDrugMannholdLogP)
export(extractDrugMomentOfInertia)
export(extractDrugOBFP2)
export(extractDrugOBFP3)
export(extractDrugOBFP4)
export(extractDrugOBMACCS)
export(extractDrugPetitjeanNumber)
export(extractDrugPetitjeanShapeIndex)
export(extractDrugPubChem)
export(extractDrugPubChemComplete)
export(extractDrugRotatableBondsCount)
export(extractDrugRuleOfFive)
export(extractDrugShortestPath)
export(extractDrugShortestPathComplete)
export(extractDrugStandard)
export(extractDrugStandardComplete)
export(extractDrugTPSA)
export(extractDrugVABC)
export(extractDrugVAdjMa)
export(extractDrugWHIM)
export(extractDrugWeight)
export(extractDrugWeightedPath)
export(extractDrugWienerNumbers)
export(extractDrugXLogP)
export(extractDrugZagrebIndex)
export(extractPCMBLOSUM)
export(extractPCMDescScales)
export(extractPCMFAScales)
export(extractPCMMDSScales)
export(extractPCMPropScales)
export(extractPCMScales)
export(extractProtAAC)
export(extractProtAPAAC)
export(extractProtCTDC)
export(extractProtCTDD)
export(extractProtCTDT)
export(extractProtCTriad)
export(extractProtDC)
export(extractProtGeary)
export(extractProtMoran)
export(extractProtMoreauBroto)
export(extractProtPAAC)
export(extractProtQSO)
export(extractProtSOCN)
export(extractProtTC)
export(getCPI)
export(getDrug)
export(getFASTAFromKEGG)
export(getFASTAFromUniProt)
export(getMolFromCAS)
export(getMolFromChEMBL)
export(getMolFromDrugBank)
export(getMolFromKEGG)
export(getMolFromPubChem)
export(getPDBFromRCSBPDB)
export(getPPI)
export(getProt)
export(getSeqFromKEGG)
export(getSeqFromRCSBPDB)
export(getSeqFromUniProt)
export(getSmiFromChEMBL)
export(getSmiFromDrugBank)
export(getSmiFromKEGG)
export(getSmiFromPubChem)
export(readFASTA)
export(readMolFromSDF)
export(readMolFromSmi)
export(readPDB)
export(searchDrug)
export(segProt)
exportPattern("^[^\\.]")
