export(checkProt)
export(extractProtAAC)
export(extractProtAPAAC)
export(extractProtCTDC)
export(extractProtCTDD)
export(extractProtCTDT)
export(extractProtCTriad)
export(extractProtDC)
export(extractProtGeary)
export(extractProtMoran)
export(extractProtMoreauBroto)
export(extractProtPAAC)
export(extractProtQSO)
export(extractProtSOCN)
export(extractProtTC)
export(getFASTAFromUniProt)
export(getSeqFromUniProt)
export(readFASTA)
export(readPDB)
export(segProt)
exportPattern("^[^\\.]")
