export(extractAAC)
export(extractAPAAC)
export(extractConTriad)
export(extractCTDC)
export(extractCTDD)
export(extractCTDT)
export(extractDC)
export(extractGeary)
export(extractMoran)
export(extractMoreauBroto)
export(extractPAAC)
export(extractQSO)
export(extractSOCN)
export(extractTriC)
export(getFASTAFromUniProt)
export(protcheck)
export(protseg)
export(readFASTA)
exportPattern("^[^\\.]")
